@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;400;700&family=Playfair+Display:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Playfair Display", serif;
  }

  .arabic-font {
    font-family: "Tajawal", sans-serif;
  }
}